body {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-style: normal;
}


html body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*------------------------ CABEÇALHO ---------------------------------*/
header {
  margin-left: -35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  position: fixed;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
}

.menu ul {

  display: flex;
  list-style: none;
}

.menu ul li {
  margin: 15px;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: bold;
  color: #f7962f;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo img {

  margin: 12px;
  width: 45px;
  height: auto;
}

.autobras {
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  color: #f7962f;
}

.autobras:hover {
  transition: 0.3s;
  color: #ff9e3d;
  border-bottom: solid 2px #ff9e3d;
  margin-bottom: 5px;
}

.menu li:hover {
  font-size: 25px;
  transition: 0.3s;
  color: #ff9e3d;
  border-bottom: solid 2px #ff9e3d;
  margin-bottom: 5px;
}

/*------------------------ ÁREA DE BUSCA ---------------------------------*/


.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://www.10wallpaper.com/wallpaper/2560x1440/1802/Golden_metal_gear_closeup_4K_2560x1440.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}


.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.search-bar input {
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 18px;
  flex: 1;
  border-radius: 50px;
}

.search-bar button {
  background-color: #ff6c1f;
  border: none;
  color: #fff;
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #e65a00;
}

/*------------------------------------------------------MOBILE------------------------------------------------------------*/

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px 20px;
  }

  .menu ul {
  
    flex-direction: row;
    align-items: center;
    margin: 0;
  }

  .menu ul li {
    margin: 10px 10px;
    font-size: 18px;
  }

  .autobras {
    font-size: 20px;
  }

  .search-bar {
    width: 90%;
    flex-direction: column;
    padding: 10px;
  }

  .search-bar input {
    margin-bottom: 10px;
  }

  .search-bar button {
    width: 100%;
  }
}