* {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



body {
  margin: 0;
  padding: 0;
}

/*------------------------ CABEÇALHO ---------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #140902;
}

.menu ul {

  display: flex;
  list-style: none;
}

.menu ul li {
  margin: 15px;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: bold;
  color: #f7962f;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo img {

  margin: 12px;
  width: 45px;
  height: auto;
}

.autobras {
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  color: #f7962f;
}

.autobras:hover {
  transition: 0.3s;
  color: #ff9e3d;
  border-bottom: solid 2px #ff9e3d;
  margin-bottom: 5px;
}

.menu li:hover {
  transition: 0.3s;
  color: #ff9e3d;
  border-bottom: solid 2px #ff9e3d;
  margin-bottom: 5px;
}

/*------------------------ ÁREA DE BUSCA ---------------------------------*/


.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 780px;
  /* altura da área de busca */

  background-image: url('https://www.10wallpaper.com/wallpaper/2560x1440/1802/Golden_metal_gear_closeup_4K_2560x1440.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: rgba(0, 0, 0, 0.6);
  /* capa preta transparente */
  background-blend-mode: darken;
  /* OU multiply, overlay, etc */
}


.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  /* fundo branco do campo */
  border-radius: 50px;
  /* borda arredondada */
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.search-bar input {
  border: none;
  outline: none;
  /* remove a borda azul ao clicar */
  padding: 10px 15px;
  font-size: 18px;
  flex: 1;
  /* ocupa todo o espaço disponível */
  border-radius: 50px;
}

.search-bar button {
  background-color: #ff6c1f;
  /* sua cor laranja */
  border: none;
  color: #fff;
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #e65a00;
  /* laranja mais escuro no hover */
}